head
    title= title

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Scott G-C")
    
    link(rel='stylesheet', href='/stylesheets/style.css')